flows/atlas_macro_ingestions.yml
id: atlas_macro_ingestion
namespace: dev.finance

description: Ingests macro data from FRED API and stores as CSV.

tasks:
  - id: collect_history
    type: io.kestra.plugin.scripts.python.Script
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
    containerImage: python:3.13-slim
    beforeCommands:
      - pip install fredapi pandas kestra
    outputFiles:
      - "macro_data.csv"
    script: |
      from fredapi import Fred
      import pandas as pd
      from datetime import datetime, timedelta
      from kestra import Kestra

      # Initialize FRED client
      fred = Fred(api_key="{{kv('FRED_API_KEY')}}")

      # Data series names
      series = {
          "GDP": "Gross_Domestic_Product",
          "CPIAUCSL": "CPI",
          "UNRATE": "Unemployment_Rate"
      }

      # Fetch data for the last 3 years
      end_date = datetime.today()
      start_date = end_date - timedelta(days=365*3)

      history = pd.DataFrame()
      for code, name in series.items():
          data = fred.get_series(code, observation_start=start_date, observation_end=end_date)
          df = pd.DataFrame(data, columns=[name])
          df.index.name = "Date"
          history = pd.concat([history, df], axis=1)

      history.to_csv("macro_data.csv", index=False)

      Kestra.outputs({"rows": len(history), "series": str(list(series.keys()))})

  - id: upload_to_gcs
    type: io.kestra.plugin.gcp.gcs.Upload
    from: "{{outputs.collect_history.outputFiles['macro_data.csv']}}"
    to: "gs://{{kv('GCP_BUCKET_NAME')}}/raw/macro/{{execution.startDate | date('yyyy-MM-dd')}}/macro_data.csv"

  - id: bq_macro
    type: io.kestra.plugin.gcp.bigquery.Query
    sql: |
          CREATE TABLE IF NOT EXISTS `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_MACRO_DATASET')}}.macro_data`
          (
              trade_date DATE OPTIONS (description = 'Date on which the trade occurred.'),
              Gross_Domestic_Product FLOAT64 OPTIONS (description = 'Gross Domestic Product on a XX basis.'),      
              CPI FLOAT64 OPTIONS (description = 'CPI level on a XX basis'),
              Unemployment_Rate FLOAT64 OPTIONS (description = 'Level of unemployment observed on XX date')
          )
          PARTITION BY trade_date;
  - id: bq_load_macro
    type: io.kestra.plugin.gcp.bigquery.LoadFromGcs
    from:
      - "gs://{{kv('GCP_BUCKET_NAME')}}/raw/macro/{{execution.startDate | date('yyyy-MM-dd')}}/macro_data.csv"
    destinationTable: "{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_MACRO_DATASET')}}.macro_data"
    format: CSV 
    csvOptions:
      skipLeadingRows: 1
    writeDisposition: WRITE_APPEND
    
pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      serviceAccount: "{{secret('GCP_SERVICE_ACCOUNT')}}"
      projectId: "{{kv('GCP_PROJECT_ID')}}"
      location: "{{kv('GCP_LOCATION')}}"
      bucket: "{{kv('GCP_BUCKET_NAME')}}"

# triggers:
#   - id: etf_schedule
#     type: io.kestra.plugin.core.trigger.Schedule
#     cron: "0 16 * * 1-5"