flows/atlas_macro_history_ingestions.yml
id: atlas_macro_history_ingestion
namespace: dev.finance

description: Ingests macro data from FRED API and stores as CSV.

tasks:
  - id: collect_history
    type: io.kestra.plugin.scripts.python.Script
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
    containerImage: python:3.13-slim
    beforeCommands:
      - pip install fredapi pandas kestra
    outputFiles:
      - "macro_data.csv"
    script: |
      from fredapi import Fred
      import pandas as pd
      from datetime import datetime, timedelta
      from kestra import Kestra

      fred = Fred(api_key="{{kv('FRED_API_KEY')}}")

      # Define the series we want to collect
      series = {
          "T10Y2Y": "Spread_2Y_10Y",
          "DFF": "Fed_Funds_Rate",
          "BAMLH0A0HYM2": "High_Yield_Spread",
          "VIXCLS": "VIX",
          "T10YIE": "Inflation_Expectations_10Y",
          "CPIAUCSL": "CPI",
          "UNRATE": "Unemployment_Rate"
      }

      # Set the date range for the data collection
      period = timedelta(weeks=26) # last 6-months of data
      end_date = datetime.today()
      start_date = end_date - period

      history = pd.DataFrame()
      for code, name in series.items():
          try:
            data = fred.get_series(code, observation_start=start_date, observation_end=end_date)
            df = pd.DataFrame(data, columns=[name])
            df.index.name = "Date"
            history = pd.concat([history, df], axis=1)
          except ValueError as e:
            print(f'Failed on series: {code} - {e}')
            raise

      history.index.name = "trade_date"
      history.to_csv("macro_data.csv")

      Kestra.outputs({"rows": len(history), "series": str(list(series.keys()))})

  - id: upload_to_gcs
    type: io.kestra.plugin.gcp.gcs.Upload
    from: "{{outputs.collect_history.outputFiles['macro_data.csv']}}"
    to: "gs://{{kv('GCP_BUCKET_NAME')}}/raw/macro/{{execution.startDate | date('yyyy-MM-dd')}}/macro_data.csv"

  - id: bq_create_dataset
    type: io.kestra.plugin.gcp.bigquery.CreateDataset
    name: "{{kv('GCP_MACRO_DATASET')}}"
    ifExists: SKIP

  - id: bq_macro
    type: io.kestra.plugin.gcp.bigquery.Query
    sql: |
      CREATE TABLE IF NOT EXISTS `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_MACRO_DATASET')}}.macro_data`
      (
          trade_date DATE OPTIONS (description = 'Observation date.'),
          Spread_2Y_10Y FLOAT64 OPTIONS (description = 'Spread between 2-year and 10-year Treasury bonds.'),
          Fed_Funds_Rate FLOAT64 OPTIONS (description = 'Effective federal funds rate.'),
          High_Yield_Spread FLOAT64 OPTIONS (description = 'Spread between high-yield and investment-grade bonds.'),
          VIX FLOAT64 OPTIONS (description = 'CBOE Volatility Index.'),
          Inflation_Expectations_10Y FLOAT64 OPTIONS (description = 'Expected inflation over the next 10 years.'),
          CPI FLOAT64 OPTIONS (description = 'Consumer Price Index.'),
          Unemployment_Rate FLOAT64 OPTIONS (description = 'Unemployment rate.')
      )
      PARTITION BY trade_date;


  - id: bq_load_macro
    type: io.kestra.plugin.gcp.bigquery.LoadFromGcs
    from:
      - "gs://{{kv('GCP_BUCKET_NAME')}}/raw/macro/{{execution.startDate | date('yyyy-MM-dd')}}/macro_data.csv"
    destinationTable: "{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_MACRO_DATASET')}}.macro_data"
    format: CSV
    csvOptions:
      skipLeadingRows: 1
    writeDisposition: WRITE_APPEND

pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      serviceAccount: "{{secret('GCP_SERVICE_ACCOUNT')}}"
      projectId: "{{kv('GCP_PROJECT_ID')}}"
      location: "{{kv('GCP_LOCATION')}}"
      bucket: "{{kv('GCP_BUCKET_NAME')}}"